In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('full_data.parquet')

In [6]:
for col in df.columns:
    print(col, len(df[col].unique()))

event_id 6044797
session_id 3586748
transaction_date 86400
event_type_id 27
product_id 2008439
title_product_id 21187
country_code_id 313
ip_address 1130066
auth_session_id 3213232

In [8]:
for col in df.columns:
    print(col, df[col].isna().sum())

event_id 0
session_id 0
transaction_date 0
event_type_id 1567
product_id 0
title_product_id 0
country_code_id 335
ip_address 0
auth_session_id 86212

In [5]:
for col in df.columns:
    df[col] = df[col].astype('category')

In [7]:
df.apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

,event_id,session_id,transaction_date,event_type_id,product_id,title_product_id,country_code_id,ip_address,auth_session_id
event_id,1.000000,0.995144,0.999304,-0.017002,0.473600,0.025858,0.090766,0.561301,0.908596
session_id,0.995144,1.000000,0.995030,-0.016877,0.468510,0.024049,0.089732,0.563859,0.916060
transaction_date,0.999304,0.995030,1.000000,-0.016634,0.473660,0.025837,0.088101,0.558926,0.908735
event_type_id,-0.017002,-0.016877,-0.016634,1.000000,-0.109596,-0.007060,-0.061987,-0.048596,-0.021231
product_id,0.473600,0.468510,0.473660,-0.109596,1.000000,0.136162,-0.060903,0.336963,0.455068
title_product_id,0.025858,0.024049,0.025837,-0.007060,0.136162,1.000000,0.015907,0.032608,0.040541
country_code_id,0.090766,0.089732,0.088101,-0.061987,-0.060903,0.015907,1.000000,0.113057,0.077969
ip_address,0.561301,0.563859,0.558926,-0.048596,0.336963,0.032608,0.113057,1.000000,0.542214
auth_session_id,0.908596,0.916060,0.908735,-0.021231,0.455068,0.040541,0.077969,0.542214,1.000000