In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet('full_data.parquet')

In [5]:
df

,event_id,session_id,transaction_date,event_type_id,product_id,title_product_id,country_code_id,ip_address,auth_session_id
0,0,3507032552,2020-08-20 00:00:00,4,63795519,63077424,162,238.108.111.146,2668673246
1,1,3506994387,2020-08-20 00:00:00,5,193402914,63110659,148,32.129.93.188,2668641289
2,2,3507038875,2020-08-20 00:00:00,5,202835637,63108769,517,222.60.132.210,2668676616
3,3,3507038876,2020-08-20 00:00:00,7,63109557,63109558,351,22.28.25.247,2668676617
4,4,3507036177,2020-08-20 00:00:00,4,69817018,63129191,162,138.169.123.254,2668677577
...,...,...,...,...,...,...,...,...,...
6044792,6044792,3512464047,2020-08-20 23:59:59,1,192570369,192474868,245,32.49.15.148,2672615264
6044793,6044793,3512455623,2020-08-20 23:59:59,3,69027904,63117137,315,204.94.80.154,2672624505
6044794,6044794,3512460245,2020-08-20 23:59:59,5,194186114,63109504,177,204.6.104.117,2672617876
6044795,6044795,3512324826,2020-08-20 23:59:59,3,194334023,63107497,452,1.126.23.236,2672509723
6044796,6044796,3512465686,2020-08-20 23:59:59,5,200190684,63077265,52,57.161.2.238,2672618822

In [10]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], format='%d%b%Y:%H:%M:%S')
for col in ['auth_session_id', 'session_id', 'product_id', 'title_product_id', 'country_code_id', 'ip_address']:
    df[col] = df[col].astype('category')

In [7]:
from pandas_profiling import ProfileReport

In [11]:
profile = ProfileReport(df, title="Pandas Profiling Report", minimal=True)

In [12]:
profile.to_file('output_1.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\ASUS\Anaconda3\envs\ml_env\lib\site-packages\pandas\core\strings.py:1541: FutureWarning: split() requires a non-empty pattern match.
  f = lambda x: regex.split(x, maxsplit=n)
c:\Users\ASUS\Anaconda3\envs\ml_env\lib\site-packages\pandas\core\strings.py:1541: FutureWarning: split() requires a non-empty pattern match.
  f = lambda x: regex.split(x, maxsplit=n)