In [1]:
import pandas as pd
df = pd.read_parquet('full_data.parquet')

In [3]:
df_new = pd.get_dummies(df, columns=['event_type_id'])

In [7]:
for col in df.columns:
    df[col] = df[col].astype('category')

In [8]:
import category_encoders as ce
cat_features = ['product_id', 'title_product_id', 'country_code_id']
count_enc = ce.CountEncoder()
count_encoded = count_enc.fit_transform(df[cat_features])

In [9]:
count_encoded

         product_id  title_product_id  country_code_id
0                 1               441          1752726
1                 3             11215            14340
2                 5              4999           228503
3               315              3372            40977
4                 1                 2          1752726
...             ...               ...              ...
6044792          27               344             8265
6044793          18              2630            34097
6044794           4               369            22089
6044795           3              1930             2273
6044796           3              9034           321795

[6044797 rows x 3 columns]

In [10]:
ohe_enc = ce.OneHotEncoder()
ohe_encoded = ohe_enc.fit_transform(df['event_type_id'])

In [11]:
ohe_encoded

,event_type_id_1,event_type_id_2,event_type_id_3,event_type_id_4,event_type_id_5,event_type_id_6,event_type_id_7,event_type_id_8,event_type_id_9,event_type_id_10,...,event_type_id_18,event_type_id_19,event_type_id_20,event_type_id_21,event_type_id_22,event_type_id_23,event_type_id_24,event_type_id_25,event_type_id_26,event_type_id_27
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6044792,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6044793,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6044794,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6044795,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6044796,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0